.align {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;

}
.align1 {
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.button{
    margin: 20px;

}