<div class="align">
  <button class="button" mat-raised-button (click)="test()">Basic</button>
  <button class="button" mat-raised-button (click)="paperino()" color="primary">
    Primary
  </button>
  <button
    class="button"
    mat-raised-button
    (click)="cambiaColore3()"
    color="accent"
  >
    Accent
  </button>
  <button
    class="button"
    mat-raised-button
    (click)="cambiaColore()"
    color="warn"
  >
    Warn
  </button>
</div>
<div class="align" style="flex-direction: row">
  <button
    [disabled]="isDisabled"
    class="button"
    (click)="increment()"
    mat-raised-button
    color="warn"
  >
    Increment
  </button>
  {{ incrementa }}

  <button
    (click)="reset()"
    mat-raised-button
    color="warn"
    style="margin: 1.5rem"
  >
    Reset counter
  </button>
</div>
<div class="align1" style="flex-direction: column">
  <div *ngFor="let item of users; index as i">
    <p *ngIf="i < incrementa">
      <strong>{{ i + 1 }} {{ item.nome }} </strong>{{ item.cognome }}
      {{ item.citta }} {{ item.dataNascita | date: "d MMMM yyyy" }} 
    </p>
  </div>
</div>
