<h1 style="color: black; text-align: center;">Accedi</h1>


<form #homeform="ngForm" (ngSubmit)="onSubmit(homeform)">
    <div class="centro" style=" width: 100%; display: flex; justify-content: center; flex-direction: column;">
        <mat-form-field style="margin: 2rem">
            <mat-label>Email</mat-label>
            <input matInput type="email" name="email" ngModel required />
        </mat-form-field>
        <mat-form-field style="margin: 2rem">
            <mat-label>Password</mat-label>
            <input matInput type="password" name="password" ngModel required />
        </mat-form-field>
        <div style=" display: flex; justify-content: center;">
            <button mat-raised-button color="primary" type="submit" [disabled]="!homeform.valid">Submit</button>
        </div>

    </div>
</form>