<div style="text-align: center">
  <button mat-button [matMenuTriggerFor]="menu">LISTA</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>{{ item[0].item1 }}</button>
    <button mat-menu-item>{{ item[1].item2 }}</button>
  </mat-menu>

  <div class="align1" style="flex-direction: column">
    <div *ngFor="let item of users; index as i">
      <p>
        <strong>{{ i + 1 }} {{ item.nome }} </strong>{{ item.cognome }}
        {{ item.citta }} {{ item.dataNascita | date: "d MMMM yyyy" }} 
      </p>
    </div>
  </div>
</div>

<div style="text-align: center;">
<button (click)="eliminaOggetto()">ELIMINA OGGETTO</button>
</div>